<!doctype html>
<html lang="en">

<head>
  <title>HOMIE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/custom-bs.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/bootstrap-select.min.css">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/line-icons/style.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/quill.snow.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="top">
  <div id="over"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="/about">HOMIE</a></div>
          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="/profile" class="nav-link active">Home</a></li>
              <li class="has-children">
                <a href="/about" class="active">About Us</a>
                <ul class="dropdown">
                  <li><a href="/services">Services</a></li>
                  <!-- <li><a href="/testimonials">Testimonials</a></li> -->
                </ul>
              </li>
              <li class="has-children">
                <a href="/item-listings" class="active">View All Items</a>
                <ul class="dropdown">
                  <li><a href="/post-item" class="active">Post An Item</a></li>
                  <li><a href="/your-item" class="active">Track Your Items</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="/jobs-listings" class="active">View All Jobs</a>
                <ul class="dropdown">
                  <li><a href="/post-job" class="active">Post A Job</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="https://www.mhsa.net/about-us/programs" class="active">Government Help</a>
                <ul class="dropdown">
                  <li><a href="https://www.mass.gov/how-to/apply-for-snap-benefits-food-stamps" class="active">SNAP Application</a></li>
                  <li><a href="https://www.mass.gov/service-details/section-8-housing-choice-voucher-program-hcvp" class="active">Section 8</a></li>
                  <!-- goes to /post-item on routes.js -->
                </ul>
              </li>
              <li><a href="/contact" class="active">Contact</a></li>
            </ul>
          </nav>
          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              <a href="/logout" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log Out</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>
        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background color: black" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">JOB</h1>
            <div class="custom-breadcrumbs">
              <a href="/profile">Home</a> <span class="mx-2 slash">/</span>
              <a href="#">Job</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Jobs posting</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-12">
            <form class="p-4 p-md-5 border rounded" method="post" action="/jobListings" enctype="multipart/form-data">
              <h3 class="text-black mb-5 border-bottom pb-2">Input job information below</h3>
              <div class="form-group">
                <!-- <label for="company-website-tw d-block">Upload Image</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  Browse File<input type="file" hidden name="file-to-upload">
                </label> -->
              </div>
              <div class="form-group">
                <label for="email">Email: </label>
                <input type="text" class="form-control" id="email" placeholder="Type your email" name="Email" required>
              </div>
              <div class="form-group">
                <label for="Item-title">Job: </label>
                <input type="text" class="form-control" id="job-title" placeholder="What's the job?" name="jobTitle" required>
              </div>
              <div class="form-group">
                <label for="job-location">City: </label>
                <input type="text" class="form-control" id="job-location" placeholder="City" name="jobLocation" required>
              </div>
              <div class="form-group">
                <label for="job-description">Job Description</label>
                <input type="text" class="form-control" id="editor-1" placeholder="Describe" name="jobDescription" required>
              </div>
              <div class="row align-items-center mb-5">
                <div class="col-lg-4 ml-auto">
                  <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                      <input type="submit" value="Post Item" href="#" class="btn btn-block btn-primary btn-md"></input>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- FOOTER -->
    <footer class="site-footer">
      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>
      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="/about">About Us</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="/contact">Tech Support</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <a href="https://twitter.com/jnegrondev"><span class="icon-twitter"></span></a>
              <a href="https://www.linkedin.com/in/joshua-negron/"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
                Copyright &copy;<script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | HOMIE is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Joshua Negron: Software EngineerEngineering</a>
              </small></p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- SCRIPTS -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/stickyfill.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/quill.min.js"></script>
  <script src="js/bootstrap-select.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/main.js"> </script>
</body>

</html>
